<div class="wrapper">
  <div class="main-container">
    <div class="container">
      <h1>Quotation Requests</h1>
      <br>
      <div class="wrapper">
        <table class="table" style="background-color: white;">
          <thead class="thead-dark">
            <th>Quotation Request ID</th>
            <th>Customer ID</th>
            <th>Date</th>
            <th></th>
          </thead>
          <tbody class="">
            <tr *ngFor="let quote of QuotationRequests">
              <td>{{quote.Request_ID}}</td>
              <td>{{quote.CustomerName}}</td>
              <td>{{quote.Date | date}}</td>
              <td><button class="tfunction" (click)="requestdetails(quote.Request_ID)" type="button"
                  class="btn btn-info" data-toggle="modal" data-target="#quotationrequestdetails">View Request</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- <a href="http://localhost:28596/SalesReport">button</a> -->
    </div>

    <!--Modal-->
    <div id="quotationrequestdetails" class="modal fade" role="dialog">
      <form #QRdetails="ngForm">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Quotation Request Details</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <table class="table table-bordered table-striped">
                <thead>

                  <th>Web Link</th>
                  <th>Product Type</th>
                  <th>Product Code</th>
                  <th>Product Size</th>
                  <th>Colour</th>
                  <th>Quantity</th>
                </thead>
                <tbody>
                  <tr *ngFor="let detail of quotationrequestdetail">

                    <td>{{detail.Web_Address}}</td>
                    <td>{{detail.Product_Type_ID}}</td>
                    <td>{{detail.Product_Code}}</td>
                    <td>{{detail.Description}}</td>
                    <td>{{detail.Colour}}</td>
                    <td>{{detail.Quantity}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" routerLink="/quotations" data-dismiss="modal" class="btn btn-primary">Generate
                Quotation</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>