<div class="header">
    <h2 class="logo">KIMOSOURCE</h2>
    <ul>
        <li>
            <a class="btn" href="#">Profile</a>
        </li>
        <li>
            <a class="btn" href="designs">Product Designs</a>
        </li>

        <li>
            <a class="btn" href="request">Request Quotation</a>
        </li>
        <li>
            <div class="dropdown">
                <a class="dropbtn btn">Quotations<i class="fas fa-caret-down"></i></a>


                <div class="dropdown-content">
                    <a href="quotereqs">Quotation Requests</a>
                    <a routerLink="/ViewQuotations">Quotations</a>

                </div>
            </div>

        </li>

        <li>
            <a href="#" class="active btn">Logout</a>
        </li>



    </ul>
</div>