<div class="wrapper">
    <div class="main-container">
<section fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card fxFlex="500px" fxFlex.xs="100%">
        <mat-card-title>Add new product category</mat-card-title>
        <form [formGroup]="categoryForm" autocomplete="off" novalidate (ngSubmit)="createCategory(categoryForm.value)" fxLayout="column wrap"
            fxLayoutAlign="center center" fxLayoutGap="10px">
            <mat-card-content>
                <mat-form-field>
                    <input matInput type="text" placeholder="Description" formControlName="Description" id="description">
                    <mat-hint align="end">Not more then 20 characters long.</mat-hint>
                    <mat-error *ngIf="hasError('Description', 'required')">Description is required</mat-error>
                    <mat-error *ngIf="hasError('Description', 'maxlength')">You have more than 20 characters</mat-error>
                  </mat-form-field>
                   
                 
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" [disabled]="!categoryForm.valid">Create</button>
                <button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
            </mat-card-actions>
        </form>
    </mat-card>
</section>
    </div></div>
