<div class="wrapper">
    <div class="main-container">
<section fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card fxFlex="500px" fxFlex.xs="100%">
        <mat-card-title>Add Employee</mat-card-title>
        <form [formGroup]="employeeForm" autocomplete="off" novalidate (ngSubmit)="createEmployee(employeeForm.value)" fxLayout="column wrap"
            fxLayoutAlign="center center" fxLayoutGap="10px">
            <mat-card-content>
                <mat-form-field>
                    <input matInput type="text" placeholder="Name" formControlName="Name" id="Name">
                    <mat-error *ngIf="hasError('Name', 'required')">Name is required</mat-error>
                </mat-form-field>
                   
                <mat-form-field>
                    <input matInput type="text" placeholder="Surname" formControlName="Surname" id="Surname">
                    <mat-error *ngIf="hasError('Surname', 'required')">Surname is required</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="text" placeholder="Cell Number" formControlName="Cell_Number" id="Cell_Number">
                    <mat-error *ngIf="hasError('Cell_Number', 'required')">Cell number is required</mat-error>
                    <mat-error *ngIf="hasError('Cell_Number', 'maxlength')">You have more than 10 characters</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="text" placeholder="Email Address" formControlName="Email" id="Email">
                    <mat-error *ngIf="hasError('Email', 'required')">Email Address is required</mat-error>
                    <mat-error *ngIf="hasError('Email', 'email')">The email address is invalid</mat-error>
                </mat-form-field>

                <!-- <mat-form-field appearance="fill">
                    <mat-label>Employee Type</mat-label>
                    <select formcontrolName="Employee_Type" id="Employee_Type" matNativeControl required>
                        <option *ngFor="let item of eService.empTypeList" [value]="item.Employee_Type_ID"> {{item.Type}}</option>
                      
                    </select>
                </mat-form-field> -->

                

            </mat-card-content>
           
            <mat-card-actions>
                <button mat-raised-button color="primary" [disabled]="!employeeForm.valid">Create</button>
                <button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
            </mat-card-actions>
        </form>
        
        
        
    </mat-card>
    
</section>
    </div></div>



