<div class="wrapper">
    <div class="main-container">
      
        <div class="container">
  
          <h1>Employees</h1><br><br>
          <div>
            <a class="addbutton" routerLink="/createemployee" mat-button color="primary">Add Employee</a>
          </div>
  
           <div fxLayout fxLayoutAlign="center center">
            <mat-form-field fxFlex="40%">
              <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
          </div>
  
          <table mat-table [dataSource]="dataSource" matSort>
            
  
            

            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
            </ng-container>

            <ng-container matColumnDef="Surname">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Surname</th>
                <td mat-cell *matCellDef="let element"> {{element.Surname}} </td>
            </ng-container>

            <ng-container matColumnDef="Cell_Number">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Cell_Number</th>
                <td mat-cell *matCellDef="let element"> {{element.Cell_Number}} </td>
            </ng-container>

            <ng-container matColumnDef="Email_Address">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                <td mat-cell *matCellDef="let element"> {{element.Email}} </td>
            </ng-container>

  
            <ng-container matColumnDef="details">
              <th mat-header-cell *matHeaderCellDef> Details </th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary" (click)="details(element.id)">
                  <i class="fas fa-list"></i>
                </button>
              </td>
            </ng-container>
           
            <ng-container matColumnDef="update">
                <th mat-header-cell *matHeaderCellDef> Update </th>
                <td mat-cell *matCellDef="let element">
                  <button mat-icon-button color="accent" (click)="updateEmployee(element.Employee_ID)" >
                    <i class="fas fa-pencil-alt"></i>
                  </button>
                </td>
              </ng-container>
           
              <ng-container matColumnDef="delete">
                  <th mat-header-cell *matHeaderCellDef> Delete </th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="warn" (click)="deleteEmployee(element.Employee_ID)">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                </ng-container>
           
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
  
        </div>
      
      </div>
  </div>
            
          
    
  
  
  
  
  