<div class="wrapper">
  <div class="main-container">
  <div class="container">
      <h1>Quotation Requeddddsts</h1>
      <br>
      <div class="wrapper">
        <table class="table">
          <thead class="thead-dark">
            <th>Quotation Reqsuest ID</th>
            <th>Customer ID</th>
            <th>Date</th>
            <th></th>
          </thead>
          <tbody class="">
            <tr *ngFor="let quote of quotationrequests">
              <td>{{quote.Request_ID}}</td>
              <td>{{quote.First_Name}}</td>
              <td>{{quote.Date | date}}</td>
              <td>
                <button class="tfunction" (click)="requestdetails(quote.Request_ID)" type="button" class="btn btn-info" >View Request</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>