
        <!--wrapper start-->
        <div class="wrapper">
            <!--header menu start-->
            <div class="header">
                <div class="header-menu">
                    <div class="title"> <span>KimoSource</span></div>
                    <div class="sidebar-btn">
                        <i class="fas fa-bars"></i>
                    </div>
                    <ul>
                        <li>
                            <div class="search" >
                                <input class="input" type="search" placeholder="Search..">
                                <i class="fa fa-search"></i>
                            </div>
                        </li>
                        <li><a href="#"><i class="fas fa-bell"></i></a></li>
                        <li><a href="#"><i class="fas fa-power-off"></i></a></li>
                    </ul>
                </div>
            </div>
            <!--header menu end-->
            <!--sidebar start-->
            <div class="sidebar">
                <div class="sidebar-menu">
                    <div class="profile">
                        <img src="../../assets/Images/avatar.png" alt="">
                        <p>Logged in: Pi-ThoN</p>
                    </div>
                    <li class="item" style="margin-top: 18px">
                        <a class="menu-btn">
                            <i class="fas fa-desktop"></i><span>Dashboard</span>
                        </a>
                    </li>
                    <li class="item " >
                        <a type="button" class="menu-btn" data-toggle="collapse" data-target="#user" >
                            <i class="fas fa-users"></i><span>User Management  <i class="fas fa-chevron-down drop-down"></i></span>
                        </a>
                        <div class="sub-menu collapse" id="user" >
                            <a type="button"><i class="fas fa-envelope"></i><span>User Roles</span></a>                            
                        </div>
                    </li>
                    <li class="item"  >
                        <a type="button" class="menu-btn" data-toggle="collapse" data-target="#customer">
                            <i class="fas fa-user"></i><span>Customer Management  <i class="fas fa-chevron-down drop-down"></i></span>
                        </a>
                        <div class="sub-menu collapse" id="customer">
                            <a href="customer"><i class="fas fa-user"></i><span>Manage Customers</span></a>
                        </div>
                    </li>
                    <li class="item" >
                      <a type="button" class="menu-btn" data-toggle="collapse" data-target="#order">
                          <i class="fas fa-shopping-cart"></i><span>Order Management  <i class="fas fa-chevron-down drop-down"></i></span>
                      </a>
                      <div class="sub-menu collapse" id="order">
                          <!-- <a href="#"><i class="fas fa-shopping-cart"></i><span>Customer Orders</span></a> -->
                          <a href="quotationrequest"><i class="fas fa-receipt"></i><span>Quotation Requests</span></a>
                      </div>
                  </li>
                  <li class="item"  >
                    <a type="button" class="menu-btn" data-toggle="collapse" data-target="#product">
                        <i class="fas fa-tags"></i><span>Product Management  <i class="fas fa-chevron-down drop-down"></i></span>
                    </a>
                    <div class="sub-menu collapse" id="product">
                        <a href="category"><i class="fas fa-tag"></i><span>Product Categories</span></a>
                        <a href="producttype"><i class="fas fa-tshirt"></i><span>Product Types</span></a>
                        <!-- <a href="size"><i class="fas fa-expand-alt"></i><span>Product Sizes</span></a>
                        <a href="template"><i class="fas fa-image"></i><span>Templates</span></a>
                        <a href="#"><i class="fas fa-sort-amount-down"></i><span>Positions</span></a> -->
                        <a href="jobtype"><i class="fas fa-print"></i><span>Job Types</span></a>
                    </div>
                </li>
                <li class="item" >
                  <a type="button" class="menu-btn" data-toggle="collapse" data-target="#supplier">
                      <i class="fas fa-industry"></i><span>Supplier Management  <i class="fas fa-chevron-down drop-down"></i></span>
                  </a>
                  <div class="sub-menu collapse" id="supplier">
                      <a href="supplier"><i class="fas fa-envelope"></i><span>Supplier</span></a>
                    
                    
                  </div>
              </li> 
              <li class="item" >
                <a type="button" class="menu-btn" data-toggle="collapse" data-target="#employee">
                    <i class="fas fa-id-card-alt"></i><span>Employee Management  <i class="fas fa-chevron-down drop-down"></i></span>
                </a>
                <div class="sub-menu collapse" id="employee">
                    <a href="employee"><i class="fas fa-id-card"></i><span>Employees</span></a>
                    <!-- <a href="employeetype"><i class="fas fa-id-badge"></i><span>Employee Types</span></a> -->
                </div>
            </li>
            <!-- <li class="item" >
              <a type="button" class="menu-btn"  data-toggle="collapse" data-target="#payment">
                  <i class="fas fa-credit-card"></i><span>Payment Management  <i class="fas fa-chevron-down drop-down"></i></span>
              </a>
              <div class="sub-menu collapse" id="payment">
                  <a href="paymenttype"><i class="fas fa-credit-card"></i><span>Payment Types</span></a>
              </div>
          </li> -->
          <!-- <li class="item" >
            <a type="button" class="menu-btn" data-toggle="collapse" data-target="#inventory">
                <i class="fas fa-dolly-flatbed"></i><span>Inventory Management<i class="fas fa-chevron-down drop-down"></i></span>
            </a>
            <div class="sub-menu collapse" id="inventory">
                <a href="inventory"><i class="fas fa-boxes"></i><span>Inventory</span></a>
            </div>
        </li> -->
        <li class="item" >
          <a type="button" class="menu-btn" data-toggle="collapse" data-target="#reporting">
              <i class="fas fa-chart-bar"></i><span>Reporting  <i class="fas fa-chevron-down drop-down"></i></span>
          </a>
          <div class="sub-menu collapse" id="reporting">
              <!-- <a href="#"><i class="fas fa-chart-line"></i><span>Sales</span></a>
              <a href="#"><i class="fas fa-chart-area"></i><span>Order Status</span></a> -->
              <a href="supplierreport"><i class="fas fa-credit-card"></i><span>Supplier Report</span></a>              
              <a href="returncusorder"><i class="fas fa-thumbs-down"></i><span>Customer Return</span></a>
              <!-- <a href="#"><i class="fas fa-dolly-flatbed"></i><span>Inventory On Hand</span></a> -->
          </div>
      </li>
      <li class="item" >
        <a type="button" class="menu-btn" data-toggle="collapse" data-target="#maintenance">
            <i class="fas fa-cogs"></i><span>Maintenance  <i class="fas fa-chevron-down drop-down"></i></span>
        </a>
        <div class="sub-menu collapse" id="maintenance">
            <a href="#"><i class="fas fa-cloud-upload-alt"></i><span>Back-up</span></a>
            <a href="#"><i class="fas fa-cloud-download-alt"></i><span>Restore</span></a>
        </div>
    </li>
                   
                </div>
            </div>
            <!--sidebar end-->
            <!--main container start-->
         
            <!--main container end-->
        </div>
        <!--wrapper end-->