<div class="wrapper">
  <div class="main-container">
    <div class="container">
<div class="container">
    <h1>Customer Orders</h1>
    <br>
    <div class="wrapper">
      <table class="table table-bordered table-striped">
        <thead>
          <th>Customer Order ID</th>
          <th>Customer Name</th>
          <th>Date</th>
          <th>Order Status</th>
          <th>Total</th>
          <th></th>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders">
            <td>{{order.Customer_Order_ID}}</td>
            <td>{{order.Customer_ID}}</td>
            <td>{{order.Order_Date | date}} </td>
            <td>{{order.OrderStatus_ID}}</td>
            <td>{{order.Order_Total}}</td>
            <td><button class="tfunction" (click)="cusorderdetails(order.Customer_Order_ID)" type="button" class="btn btn-info" data-toggle="modal" data-target="#orderdetail"><i class="far fa-eye"></i></button></td>




            <!-- <button type="button" class="btn btn-primary" routerLink="/finaliseorder">Finalise Order</button>
            <button type="button" class="btn btn-primary" routerLink="/capturecollection">Capture collection</button>
            <button type="button" class="btn btn-primary" routerLink="/returncusorder">Return customer order</button> -->

            


          </tr>
        </tbody>
      </table>
    </div>
    </div>
    
 <!--Modal-->
   <!--Modal-->
   <div id="orderdetail"class="modal fade" role="dialog">
    <form #form="ngForm">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Order Details</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-bordered table-striped">
              <thead>
                <th>Customer Order ID</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
              </thead>
              <tbody>
                <tr *ngFor="let detail of orderdetail">
                  <td>{{detail.Customer_Order_ID}}</td>
                  <td>{{detail.Description}}</td>
                  <td>{{detail.Quantity}}</td>
                  <td>{{detail.Price}}</td>
                  <td>{{detail.Total}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            
            <button type="button" class="btn btn-primary" >Finalise Order</button>
            <button  type="button" class="btn btn-primary" >Capture collection</button>
            <button  type="button" class="btn btn-primary" data-dismiss="modal" routerLink='/createreturn' >Return Order</button>



            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>  
    </form>
  </div>  
    </div>
  </div>
</div>