<div class="wrapper">
    
<h4 >Supplier Order</h4>
<hr>
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <input type="hidden"  name="Supplier_Order_Line_ID" #Supplier_Order_Line_ID="ngModel" [(ngModel)]="formData.Supplier_Order_Line_ID">
    <input type="hidden"  name="Supplier_Order_ID" #Supplier_Order_ID="ngModel" [(ngModel)]="formData.Supplier_Order_ID">
        
 <div class="form-group">
        <label>Product Type</label>
        <select name="Product_Type_ID" #Product_Type_ID="ngModel" [(ngModel)]="formData.Product_Type_ID" class="form-control"
        [class.is-invalid]="!isValid && formData.Product_Type_ID==0">
        
          
            <option value="0">-Select-</option>
            <option *ngFor="let item of typeList" value="{{item.Product_Type_ID}}">{{item.Name}}</option>
           
        </select>
    </div> 
    <!-- <div class="form-group">
        <label>Job Type</label>
        <select name="Job_Type_ID" #Job_Type_ID="ngModel" [(ngModel)]="formData.Job_Type_ID" class="form-control"
        [class.is-invalid]="!isValid && formData.Job_Type_ID==0">
            <option value="0">-Select-</option>
            <option *ngFor="let item of jobList" value="{{item.Job_Type_ID}}">{{item.Description}}</option>
        </select>
    </div> -->
    <div class="form-group">
        <label>Quantity</label>
        <input type="number" name="Quantity" #Quantity="ngModel" [(ngModel)]="formData.Quantity"
        [class.is-invalid]="!isValid && formData.Quantity==0" class="form-control">
    </div>
  

    <div class="row">
    <div class="form-group col-6">
        <label>Price</label>
        <input type="number" name="Price" #Price="ngModel" [(ngModel)]="formData.Price" class="form-control"
        [class.is-invalid]="!isValid && formData.Price==0"
       >
    </div>
    <div class="form-group col-6">
        <label>Total</label>
        <input type="number" name="Total" #Total="ngModel" [(ngModel)]="formData.Total" class="form-control"
       
        >
    </div>
    </div>
  
    
    <div class="form-group">
        <button type="submit" class="btn btn-dark">Submit</button>
       
        <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]>Close</button>
    </div>
</form>



    </div>
