<h1>Place supplier order</h1>
<div class="wrapper">
    <div class="main-container">
    <div class="container" >
           <form #form="ngForm" autocomplete="off" *ngIf="service.formData" (submit)="onSubmit(form)">
               <div class="row">
                <input type="hidden"  name="Quotation_Line_ID" #Quotation_Line_ID="ngModel" [(ngModel)]="service.formData.Quotation_Line_ID">

                   <div class="form-group">
                    <label>Supplier</label>
                    <select name="Supplier_ID" #Supplier_ID="ngModel" [(ngModel)]="service.formData.Supplier_ID" class="form-control"
                    [class.is-invalid]="!isValid && service.formData.Supplier_ID==0">
                    
                      
                        <option value="0">-Select-</option>
                        <option *ngFor="let item of supList" value="{{item.Supplier_ID}}">{{item.Supplier_Name}}</option>
                       
                    </select>
                    <label >Date:</label>
                    <input class="form-control" style="width: 300px" value="{{TodayDate}}" readonly>
                </div>

                 

              
               
              
              
                  
                   </div>
                   <br>

                  
               
               <table class="table table-borderless">
                   <thead class="thead-light">
                       <th>Product Type</th> 
                       <th>Quantity</th>
                       <th>Price</th>
                       <th>Total</th>
                       

                       <th><a class="btn-sm btn-success text-white" (click)="AddOrder(null, service.formData.Supplier_Order_ID)">Add Order</a></th>
                      
                   </thead>
                   <tbody>
                       <!-- <tr *ngIf="service.supplierorderLine.length==0" [class.text-danger]="!isValid && service.supplierorderLine.length==0">
                           <td class="font-italic text-center" colspan="7">
                               No orders added 
                           </td>
                       </tr> -->
                      
                        <tr *ngFor="let item of service.orderLine; let i=index">
                          
                           <td>{{item.Product_Type_ID}}</td>
                           <td>{{item.Quantity}}</td>
                           <td>{{item.Price}}</td>
                           <td>{{item.Total}}</td>
                          
                           <td><a class="btn-sm btn-success text-white" (click)="AddOrder(i, service.formData.Supplier_Order_ID)">Edit</a>
                            <a class="btn-sm btn-danger text-white ml-1" (click)="onDeleteOrderLine(item.Supplier_Order_Line_ID, i)">Delete</a> 
                           </td>
                           
                       
                       </tr>
                   </tbody>
               </table>
       
               <div class="form-group">
                   <button class="submit btn btn-dark">Submit</button>
               </div>
           </form>
           </div>
    </div>
</div>
