<div class="wrapper">
    <div class="main-container">
      
        <div class="container">
  
          <h1> Product Type</h1>
          

          <input type="file" (change)="file($event.target)" accept="image/jpg">
          <button type ="button" (click)="upload()">Upload</button>
          <img width="200px" height="200px" *ngIf="object.url" [src]="object.url" class="image">
      </div>
  </div>
</div>   
          
    
  
  
  
  
  