<app-navbar></app-navbar>
<div class="wrapper">
  <div class="main-container">
    <div class="container">
      <h1>Request a Quote</h1>
      <div class="row">
        <div class="form-group column">
          <label for="">Quotation Request Number:</label>
          <input class="form-control" style="width: 300px" readonly>
          <label>Date:</label>
          <input class="form-control" style="width: 300px" value="{{TodayDate}}" readonly>

          <label for="ProdCode">Enter Product Code: </label>
          <input class="form-control" type="text" id="ProdCode" [(ngModel)]="CurrentRequest.Product_Code" name="Pcode"
            style="width: 300px" #productCode>

            
          <div class="form-group">
            <label for="sel1">Select website visited:</label>
            <select [(ngModel)]="CurrentRequest.Web_Link_ID" class="form-control" id="sel1" style="width: 300px"
              #website>
              <option *ngFor="let weblink of webLinks" [value]="weblink.Web_Link_ID">
                {{weblink.Web_Name}}
              </option>
            </select>
          </div>

        </div>
<div class="column">
  <table class="table " style="margin-top: 15px; margin-left: 150px;">
    <thead class="thead-dark">
      <tr>
        <th>Size</th>
        <th>Colour</th>
        <th>Website</th>
        <th>Product Code</th>
        <th>Quantity</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let req of RequestList ; let i = index">

        <td>{{req.Product_Size_ID}}</td>
        <td>{{req.Colour}}</td>
        <td>{{req.Web_Link_ID}}</td>
        <td>{{req.Product_Code}}</td>
        <td>{{req.Quantity}}</td>
        <td>
          <button class="btn btn-danger" (click)="delete(i)">Delete</button>
        </td>
      </tr>
      <tr>
      </tr>
    </tbody>

  </table>

</div>

      </div>

          <br>
          <div class="row"> 
          <div class="form-group column" style="text-align: center;" style="width: 110%;">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select a Design
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a *ngFor="let item of types" class="dropdown-item"
                  (click)="store(item.Product_Type_ID, item.Name)">{{item.Name}}</a>
              </div>
            </div>

          </div>
          <div *ngIf="designline != null" class="column">
            <label>Design Name:</label>
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th>Design Name</th>
                 
                  <th>Action</th>
                  <th> <button class="btn btn-success" (click)="navigate()"> Create New Design</button></th>
                </tr>
              </thead>
              <tr *ngFor="let item of designline">
                <td>{{item.Design_Name}}</td>

                <td><button class="btn btn-primary btn-sm" (click)="storeDesign(item.Design_ID)"> Select Design</button>
                </td>
              </tr>
            </table>
           

          </div>

          <div class="column">

       
  
              <div class="column" style="margin-top: 20px; margin-left: 40px; width: 500px;">
  
                <div *ngFor="let item of designs">
                  <img src="{{item.ImageString}}" style="width: 350px; height: 200px;">
  
                  <div class="row" *ngFor="let line of lines"><br>
                    Position: {{line.Position}} <br>
                    Job Type: {{line.JobType}} <br>
                    Text: {{line.Text}} <br>
                    Width: {{line.Width}}cm <br>
                    Height: {{line.Height}}cm <br><br><br>
                  </div>
                </div>
  
              </div>
  
  
  
          
  
          </div>
          </div>
    
      

        <!-- <div class="column" >
    <img src="../../assets/Images/template.png" alt="TshirtTemplate" style="float:left;width:300px;height:250px;">
    <div class="center">
    </div>
        </div> -->
        <!-- Button trigger modal -->
      </div>

      <div class="column container">

        <label for="ProdColor">Enter desired product colour:</label>
        <input class="form-control" type="text" id="ProdColor" [(ngModel)]="CurrentRequest.Colour" name="Pcolor" #color>
        <br>

        <!-- <label for="ProdCode">Enter Product Code: </label>
          <input class="form-control" type="text" id="ProdCode" name="Pcode" style="width: 300px"> -->

        <label for="quantity">Enter Desired Quantity:</label>
        <input class="form-control" type="number" id="quantity" name="quantity" [(ngModel)]="CurrentRequest.Quantity"
          min="1" max="100" #quantity> <br>

        <div class="form-group column">

          <div class="form-group">
            <label for="sel1">Select desired size:</label>
            <select [(ngModel)]="CurrentRequest.Product_Size_ID" class="form-control" id="sel1">
              <option *ngFor="let size of sizes" [value]="size.Product_Size_ID">
                {{size.Description}}
              </option>
            </select>
          </div>
        </div>

        <button style="float: right;" type="submit" class="btn-sm btn-success btn-block"
        (click)="addToRequest(color.value, website.value, productCode.value, quantity.value)">Add to
        request</button><br><br>
      </div>

 
      
  

    <br><br><br>
    <div class="row flex">

      <button type="submit" class="btn-sm btn-primary btn-block col-4" (click)="addRequest()">Request Quotation</button>
    </div>
  </div>
</div>
