<div class="wrapper">
    <div class="main-container">
      
        <div class="container">
  
          <h1> Customers</h1><br><br>
          
  
           <div fxLayout fxLayoutAlign="center center">
            <mat-form-field fxFlex="40%">
              <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
          </div>
  
          <table mat-table [dataSource]="dataSource" matSort>            
  
            <ng-container matColumnDef="First Name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
              <td mat-cell *matCellDef="let element"> {{element.First_Name}} </td>
            </ng-container>
  
            <ng-container matColumnDef="Last Name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
              <td mat-cell *matCellDef="let element"> {{element.Last_Name}} </td>
            </ng-container>

            <ng-container matColumnDef="Contact Number">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact Number </th>
                <td mat-cell *matCellDef="let element"> {{element.Contact_Number}} </td>
              </ng-container>

              <ng-container matColumnDef="Email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.Email_Address}} </td>
              </ng-container>
           
           
           
            <ng-container matColumnDef="details">
              <th mat-header-cell *matHeaderCellDef> Details </th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary" (click)="details(element.id)">
                  <i class="fas fa-list"></i>
                </button>
              </td>
            </ng-container>
           
        
           
              <ng-container matColumnDef="delete">
                  <th mat-header-cell *matHeaderCellDef> Delete </th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="warn" (click)="deleteCustomer(element.Customer_ID)">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                </ng-container>
           
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
  
        </div>
      
      </div>
  </div>
            
          
    
  
  
  
  
  