<div class="wrapper">
    <div class="main-container">
<section fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card fxFlex="500px" fxFlex.xs="100%">
        <mat-card-title>Add new product category</mat-card-title>
        <form [formGroup]="productForm" autocomplete="off" novalidate (ngSubmit)="createProduct(productForm.value)" fxLayout="column wrap"
            fxLayoutAlign="center center" fxLayoutGap="10px">
            <mat-card-content>
                <mat-form-field>
                    <input matInput type="text" placeholder="Name" formControlName="Name" id="Name">
                    <mat-hint align="end">Not more then 20 characters long.</mat-hint>
                    <mat-error *ngIf="hasError('Name', 'required')">Description is required</mat-error>
                    <mat-error *ngIf="hasError('Name', 'maxlength')">You have more than 20 characters</mat-error>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput type="text" placeholder="Product_Category_ID" formControlName="Product_Category_ID" id="Product_Category_ID">
                    <mat-hint align="end">Not more then 20 characters long.</mat-hint>
                  </mat-form-field>

                  <mat-form-field>
                    <input matInput type="text" placeholder="Template_ID" formControlName="Template_ID" id="Template_ID">                    
                  </mat-form-field>
                  
                  <input type="file" (change)="file($event.target)" accept="image/png">
                  
                  <img width="200px" height="200px" *ngIf="object.url" [src]="object.url" class="image">
           
                   
                 
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" [disabled]="!productForm.valid">Create</button>
                <button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
            </mat-card-actions>
        </form>
    </mat-card>
</section>
    </div></div>
