<div class="wrapper">
    <div class="main-container">
<section fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card fxFlex="500px" fxFlex.xs="100%">
        <mat-card-title>Capture Return</mat-card-title>
        <form [formGroup]="returnForm" autocomplete="off" novalidate (ngSubmit)="createReturn(returnForm.value)" fxLayout="column wrap"
            fxLayoutAlign="center center" fxLayoutGap="10px">
            <mat-card-content>
                <mat-form-field>
                    <input matInput type="number" placeholder="Price" formControlName="Price" id="price">
                    <mat-hint align="end">Not more then 20 characters long.</mat-hint>
                    <mat-error *ngIf="hasError('Price', 'required')">Price is required</mat-error>
                    <mat-error *ngIf="hasError('Price', 'maxlength')">You have more than 20 characters</mat-error>
                  </mat-form-field>

                  <mat-form-field>
                    <input matInput type="text" placeholder="Reason" formControlName="Reason" id="reason">
                    <mat-hint align="end">Not more then 20 characters long.</mat-hint>
                    <mat-error *ngIf="hasError('Reason', 'required')">Description is required</mat-error>
                    <mat-error *ngIf="hasError('Reason', 'maxlength')">You have more than 40 characters</mat-error>
                  </mat-form-field>

                  <mat-form-field>
                    <input matInput type="text" placeholder="Product" formControlName="Product" id="product">
                    <mat-hint align="end">Not more then 20 characters long.</mat-hint>
                    <mat-error *ngIf="hasError('Product', 'required')">Description is required</mat-error>
                    <mat-error *ngIf="hasError('Product', 'maxlength')">You have more than 20 characters</mat-error>
                  </mat-form-field>
                   
                 
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" [disabled]="!returnForm.valid">Create</button>
                <button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
            </mat-card-actions>
        </form>
    </mat-card>
</section>
    </div></div>
