<div class="wrapper">
    <div class="main-container">
<section fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card fxFlex="500px" fxFlex.xs="100%">

      <mat-card-title>Update Supplier</mat-card-title>
      <form [formGroup]="supplierForm" autocomplete="off" novalidate (ngSubmit)="updateSupplier(supplierForm.value)" fxLayout="column wrap"
        fxLayoutAlign="center center" fxLayoutGap="10px">
        <mat-card-content>
  
          <mat-form-field>
            <input matInput type="text" placeholder="Name" formControlName="Supplier_Name" id="Supplier_Name">
            <mat-hint align="end">Not more then 20 characters long.</mat-hint>
            <mat-error *ngIf="hasError('Supplier_Name', 'required')">Name is required</mat-error>
            <mat-error *ngIf="hasError('Supplier_Name', 'maxlength')">You have more than 20 characters</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" placeholder="Contact Number" formControlName="Contact_Number" id="contactNumber">
            <mat-hint align="end">Not more then 20 characters long.</mat-hint>
            <mat-error *ngIf="hasError('Contact_Number', 'required')">Name is required</mat-error>
            <mat-error *ngIf="hasError('Contact_Number', 'maxlength')">You have more than 20 characters</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" placeholder="Email" formControlName="Email" id="email">
            <mat-hint align="end">Not more then 20 characters long.</mat-hint>
            <mat-error *ngIf="hasError('Email', 'required')">Name is required</mat-error>
            <mat-error *ngIf="hasError('Email', 'maxlength')">You have more than 20 characters</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" placeholder="Address" formControlName="Address" id="address">
            <mat-hint align="end">Not more then 20 characters long.</mat-hint>
            <mat-error *ngIf="hasError('Address', 'required')">Name is required</mat-error>
            <mat-error *ngIf="hasError('Address', 'maxlength')">You have more than 20 characters</mat-error>
          </mat-form-field>
          <mat-form-field>
          
            <input matInput type="text" placeholder="Web Link" formControlName="Web_Link_ID" id="webLinkID">
            <mat-hint align="end">Not more then 20 characters long.</mat-hint>
            <mat-error *ngIf="hasError('Web_Link_ID', 'required')">Name is required</mat-error>
            <mat-error *ngIf="hasError('Web_Link_ID', 'maxlength')">You have more than 20 characters</mat-error>
          </mat-form-field>
  
  
        </mat-card-content>
        <mat-card-actions align="center">
          <button mat-raised-button color="primary" [disabled]="!supplierForm.valid">Update</button>
          <button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
        </mat-card-actions>
      </form>
    </mat-card>
  </section>
    </div></div>