<div class="wrapper">
    <div class="main-container">
      
        <div class="container">
  
          <h1> Customer Orders</h1><br><br>
          
  
           <div fxLayout fxLayoutAlign="center center">
            <mat-form-field fxFlex="40%">
              <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
          </div>
  
          <table mat-table [dataSource]="dataSource" matSort>
            
  
            <ng-container matColumnDef="Customer">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer</th>
              <td mat-cell *matCellDef="let element"> {{element.Customer_ID }} </td>
            </ng-container>
  
            <ng-container matColumnDef="Order Date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Order_Date </th>
              <td mat-cell *matCellDef="let element"> {{element.Order_Date | date}} </td>
            </ng-container>
           
           
            <ng-container matColumnDef="Order Total">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Order Total </th>
                <td mat-cell *matCellDef="let element"> {{element.Order_Total}} </td>
              </ng-container>
             
              
            <ng-container matColumnDef="Order Status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Order Status </th>
                <td mat-cell *matCellDef="let element"> {{element.OrderStatus_ID }} </td>
              </ng-container>
             
           
            <ng-container matColumnDef="View">
              <th mat-header-cell *matHeaderCellDef> Details </th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary" (click)="details(element.Customer_Order_ID)">
                  <i class="fas fa-list"></i>
                </button>
              </td>
            </ng-container>
           
    
           
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
  
        </div>
      
      </div>
  </div>
            
          
    
  
  
  
  
  