<div class="wrapper">
  <div class="main-container">






    <div class="row" style="margin-left: 110px;">

      <div>
        <section class="jumbotron">
          <h1>Generate Quote</h1>
          <div>

            <div>
              <label>{{RequestList.Date | date}}</label><br>
              <label style="margin-right: 10px;">{{RequestList.CustomerName}}</label><br>
              <label style="margin-right: 10px;">{{RequestList.CustomerNumber}}</label><br>
              <label style="margin-right: 10px;">{{RequestList.CustomerEmail}}</label><br>
            </div>


          </div>
        </section>
        <section class="row">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Product Type</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
                <th>Design Details</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let line of RequestList.quoteLineVMs">

                <td>{{line.Product_Type}}</td>
                <td>{{line.Description}}</td>
                <td>{{line.Quantity}}</td>
                <td><input type="number" (change)='onNumberChange($event,line.Quantity,line.Request_Line_ID)'></td>
                <td>R {{line.Total}}</td>
                <td> <button (click)="ViewDesign(line.Design_ID)" data-toggle="modal" data-target="#designdetails">
                    View Design
                  </button>
                </td>
              </tr>

              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Total: R {{RequestList.QuoteTotal}} </td>

              </tr>
            </tbody>
          </table>
          <button (click)="Submit()"> Generate Quote</button>
        </section>
      </div>
    </div>

  </div>

</div>

<div id="designdetails" class="modal fade" role="dialog">
  <form #QRdetails="ngForm">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Design Details</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <label for=""> Design Name </label>
          <input type="text" [value]="CurrentDesin.Design_Name" readonly>

          <label for=""> Product Type </label>
          <input type="text" [value]="CurrentDesin.Product_Type" readonly>

          <label for=""> Date Created </label>
          <input type="text" [value]="CurrentDesin.Date_Created" readonly>

          <label for=""> Additional Instructions </label>
          <textarea [value]="CurrentDesin.Additional_Instructions" name="Additional_Instructions" id="" cols="30"
            rows="10" readonly></textarea>

          <table class="table table-bordered table-striped">
            <thead>
              <th>Product Position</th>
              <th>Job Type</th>
              <th>Width</th>
              <th>Height</th>
              <th>Text</th>
              <th>Image</th>
            </thead>
            <tbody>
              <tr *ngFor="let line of CurrentDesin.DesignLineVMs">
                <td>{{line.Template_Position_ID}}</td>
                <td>{{line.Job_Type}}</td>
                <td>{{line.Width}}</td>
                <td>{{line.Height}}</td>
                <td>{{line.Text}}</td>
                <td> <img style="height: 100px; width: 100px;" [src]="transform(line.Image)"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </form>

</div>