<div class="wrapper">
    <div class="main-container">
      
        <div class="container">
  
          <h1>Customer Returns</h1><br><br>
          <div>
            <a class="addbutton" routerLink="/createreturn" mat-button color="primary">Capture Return</a>
          </div>
  
           <div fxLayout fxLayoutAlign="center center">
            <mat-form-field fxFlex="40%">
              <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
          </div>
  
          <table mat-table [dataSource]="dataSource" matSort>
            
  
            <!-- <ng-container matColumnDef="ID">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
              <td mat-cell *matCellDef="let element"> {{element.Product_Category_ID}} </td>
            </ng-container> -->
  
            <ng-container matColumnDef="Price">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
              <td mat-cell *matCellDef="let element"> {{element.Price}} </td>
            </ng-container>
           
            <ng-container matColumnDef="Date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                <td mat-cell *matCellDef="let element"> {{element.Date}} </td>
              </ng-container>
              <ng-container matColumnDef="Reason">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Reason </th>
                <td mat-cell *matCellDef="let element"> {{element.Reason}} </td>
              </ng-container>
              <ng-container matColumnDef="Product">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Product </th>
                <td mat-cell *matCellDef="let element"> {{element.Product}} </td>
              </ng-container>
           
            <ng-container matColumnDef="details">
              <th mat-header-cell *matHeaderCellDef> Details </th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary" (click)="details(element.Return_Customer_Order_ID)">
                  <i class="fas fa-list"></i>
                </button>
              </td>
            </ng-container>
           
          
           
           
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
  
        </div>
      
      </div>
  </div>
            
          
    
  
  
  
  
  