/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.wrapper .main-container{
    width: (100% - 250px);
    margin-top: 70px;
    margin-left: 250px;
    padding: 15px;
    background-color: lightgray;
    background-size: cover;
    height: 100vh;
    transition: 1s;
  }
  
  
  
  *{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }
  
  body{
    background: lightgray;
  }
  
  .wrapper .header{
    z-index: 2;
    background: #22242A;
    position: fixed;
    width: calc(100% - 0%);
    height: 70px;
    display: flex;
    top: 0;
  }
  
  .wrapper .header .header-menu{
    width: calc(100% - 0%);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .wrapper .header .header-menu .title{
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 900;
    margin-left: 25px;
  }
  
  .wrapper .header .header-menu .title span{
    color: #CB1717;
  }
  
  .wrapper .header .header-menu .sidebar-btn{
    color: #fff;
    position: absolute;
    margin-left: 235px;
    font-size: 22px;
    font-weight: 900;
    cursor: pointer;
    transition: 0.3s;
    transition-property: color;
  }
  
  .wrapper .header .header-menu .sidebar-btn:hover{
    color: #CB1717;
    
  }
  
  .wrapper .header .header-menu ul{
    display: flex;
    margin-top: 12px;
  }
  
  .wrapper .header .header-menu ul li a{
    background: #fff;
    color: #000;
    display: block;
    margin: 0 10px;
    font-size: 18px;
    width: 34px;
    height: 34px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    transition-property: background, color;
    
  }
  
  .wrapper .header .header-menu ul li a:hover{
    background: #CB1717;
    color: #fff;
  }
  
  .wrapper .sidebar{
    z-index: 1;
    background: #2F323A;
    position: fixed;
    top: 70px;
    width: 250px;
    height: calc(100% - 8%);
    transition: 1s;
    transition-property: width;
    overflow-y: auto;
  }
  
  .wrapper .sidebar .sidebar-menu{
    overflow: hidden;
  }
  
  .wrapper .sidebar .sidebar-menu .profile img{
    margin: 20px 0;
    width: 105px;
    height: 105px;
    border-radius: 50%;
    overflow:hidden;
    border:4px solid;
    border-color: #2F323A;
    box-shadow:0 0 0 4px rgba(255,255,255,0.2);
    display: block;
    margin-left: auto;
    margin-right: auto;
  
  }
  
  .wrapper .sidebar .sidebar-menu .profile p{
    color: #bbb;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .wrapper .sidebar .sidebar-menu .item{
    width: 250px;
    overflow: hidden;
  }
  
  .wrapper .sidebar .sidebar-menu .item .menu-btn{
    display: block;
    color: #fff;
    position: relative;
    padding: 10px 20px;
    transition-property: color;
    font-size: 13px;
  }
  
  .wrapper .sidebar .sidebar-menu .item .menu-btn:hover{
    color:#CB1717;
    border-left-style: solid;
    border-color: #CB1717;
    border-width: 6px;
    background-color: darkgrey;
  }
  
  .wrapper .sidebar .sidebar-menu .item .menu-btn i{
    margin-right: 15px;
  }
  
  .wrapper .sidebar .sidebar-menu .item .menu-btn .drop-down{
    float: right;
    font-size: 12px;
    margin-top: 3px;
  }
  
  .wrapper .sidebar .sidebar-menu .item .sub-menu{
    background: #25272e;
   
  }
  
  .wrapper .sidebar .sidebar-menu .item .sub-menu a{
    display: block;
    position: relative;
    color: #fff;
    white-space: nowrap;
    font-size: 11px;
    padding: 10px;
    transition: 0.3s;
    transition-property: background;
  }
  
  .wrapper .sidebar .sidebar-menu .item .sub-menu a:hover{
    background: gray;
  }
  
  .wrapper .sidebar .sidebar-menu .item .sub-menu a:not(last-child){
    border-bottom: 1px solid #e3f2fc;
  }
  
  .wrapper .sidebar .sidebar-menu .item .sub-menu i{
    padding-right: 20px;
    font-size: 10px;
  }
  
  .wrapper .sidebar .sidebar-menu .item:target .sub-menu{
    max-height: 500px;
  }
  
  
  
  .wrapper.collapser .sidebar{
    width: 70px;
  }
  
  .wrapper.collapser .sidebar .profile img,
  .wrapper.collapser .sidebar .profile p,
  .wrapper.collapser .sidebar a span{
    display: none;
  }
  
  .wrapper.collapser .sidebar .sidebar-menu .item .menu-btn{
    font-size: 23px;
  }
  
  .wrapper.collapser .sidebar .sidebar-menu .item .sub-menu i{
    font-size: 18px;
    padding-left: 3px;
  }
  
  .wrapper.collapser .main-container{
    width: calc(100% - 70px);
    margin-left: 70px;
  }
  
  
  
  .search{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 34px;
    height: 34px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    margin-right: 20px;
    display: block;
   
   
  }
  
  .input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
  }
  
  .fa{
    box-sizing: border-box;
    padding:7px;
    padding-right: 0;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
  }
  
  .search:hover{
    width: 300px;
    cursor: pointer;
  }
  
  .search:hover input{
    display: block;
  }
  
  .search:hover .fa{
    background: #CB1717;
    color: white;
    
    padding: 10px;
  }
  .flex {
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  h1 {
    display: block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    border-bottom-style: solid;
    border-color: maroon;
    
    
}

.flex {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.modal-header {
    background-color:black;
    color: white;
}


.modal {
    background-color: grey;
}

.form-control.ng-touched.ng-invalid {
   border: 2px solid #ff6554; 
}

table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
}

th.mat-header-cell {
  text-align: left;
  max-width: 300px;
  background-color: #07051a;
  color: white;
  font-size: 14px;
}

.addbutton {
  font-size: 20px;
}

mat-form-field{
  width: 400px;
}

mat-card-title{
  text-align: center;
}

mat-card-content, mat-card-title, mat-card-actions {
  text-align: center;
}

mat-card-content{
  padding-top: 20px;
  padding-bottom: 20px;
}