<div class="wrapper">
    <div class="main-container">
      
        <div class="container">
  
          <h1> Suppliers</h1><br><br>
          <div>
            <a class="addbutton" routerLink="/createsupplier" mat-button color="primary">Add New Supplier</a>
          </div>
  
           <div fxLayout fxLayoutAlign="center center">
            <mat-form-field fxFlex="40%">
              <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
          </div>
  
          <table mat-table [dataSource]="dataSource" matSort>
            
  
            
  
            <ng-container matColumnDef="Supplier Name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.Supplier_Name}} </td>
            </ng-container>
            <ng-container matColumnDef="Contact Number">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact Number </th>
                <td mat-cell *matCellDef="let element"> {{element.Contact_Number}} </td>
              </ng-container>
              <ng-container matColumnDef="Email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.Email}} </td>
              </ng-container>
              <ng-container matColumnDef="Address">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
                <td mat-cell *matCellDef="let element"> {{element.Address}} </td>
              </ng-container>
              <ng-container matColumnDef="Web Link">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Web link </th>
                <td mat-cell *matCellDef="let element"> {{element.Web_Link_ID}} </td>
              </ng-container>
           
           
       
           
            <ng-container matColumnDef="update">
                <th mat-header-cell *matHeaderCellDef> Update </th>
                <td mat-cell *matCellDef="let element">
                  <button mat-icon-button color="accent" (click)="updateSupplier(element.Supplier_ID)" >
                    <i class="fas fa-pencil-alt"></i>
                  </button>
                </td>
              </ng-container>
           
              <ng-container matColumnDef="delete">
                  <th mat-header-cell *matHeaderCellDef> Delete </th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="warn" (click)="deleteSupplier(element.Supplier_ID)">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                </ng-container>
           
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
  
        </div>
      
      </div>
  </div>
            
          
    
  
  
  
  
  