<div class="wrapper">
    <div class="main-container">
<div class="container">
    <h1>Return Customer Order Report</h1>
    <div class="wrapper">
        <table class="table table-bordered table-striped">
            <thead>
                <th>Return Customer Order ID</th>
                <th>Product</th>
                <th>Reason</th>
                <th>Price</th>
                <th>Date</th>
            </thead>
            <tbody>
                <tr *ngFor="let return of custreturnorders">
                    <td>{{return.Return_Customer_Order_ID}}</td>
                    <td>{{return.Product}}</td>
                    <td>{{return.Reason}}</td>
                    <td>R{{return.Price}}</td>
                    <td>{{return.Date | date}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
    </div>
</div>