<mat-sidenav-container class="example-container"  >
    <mat-sidenav mode="side" opened> 
     
  
  
  
  
  
    </mat-sidenav>
    <mat-sidenav-content>
        <nav class="navbar  navbar-dark "  style="  background-color: #111;  ">
            <div class="container-fluid" class="col-12">
              <div class="navbar-header">
                <a class="navbar-brand" href="#"></a>
              </div>
           
              
            </div>
          </nav>
          <mat-card>  
            <mat-toolbar >  
              <div class="container w-100 row">
              <div align="center" style="color:red; text-align: left;  " class="col-6">  
               Sales Report 
             
               </div>
  
               <div align="right"  class="col-6">
                
                   
                  
               
                  <div>
                    <button mat-raised-button color="primary"  >Export</button>
                    
                  </div>
                  
  
                
  
               </div>
               <br>
            
            
  
            </div>
            </mat-toolbar>  
          <br><br>  
      
            <mat-card-content>  
              
              <form [formGroup]="dateForm"  (ngSubmit)="onSubmit()" novalidate>
              <div >
                <mat-form-field>
                  <mat-label>Start Date</mat-label>
                  <input matInput [matDatepicker]="pickerStart" type="text" [min]="minDate"  [max]="maxDate" formControlName="startDate">
                  <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                  <mat-datepicker #pickerStart></mat-datepicker>
                </mat-form-field>
  
               </div>
               <div>
                <mat-form-field>
                  <mat-label>End Date</mat-label>
                  <input matInput [matDatepicker]="pickerEnd"  [min]="minDate" type="text" formControlName="endDate">
                  <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                  <mat-datepicker #pickerEnd></mat-datepicker>
                </mat-form-field>
               </div>
               <div>
                <button mat-raised-button color="primary" type="submit">Generate Report</button>
               </div>
              </form>
               <br>
            
                <table class="mat-elevation-z8 table w-100" id="test" >
            <thead>
                <tr>
                  <th>Customer OrderID</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    
                        
                </tr>
            </thead>
            <tbody>
                    <tr *ngFor="let orderDetail of PAYMENTs">
                        <td>{{orderDetail.customerOrderID}}</td>
                        <td>{{orderDetail.Date  |  date:'dd/MM/yyyy'}}</td>
                        <td>{{orderDetail.Description}}</td>
                        <td>{{orderDetail.Quantity}}</td>
                        <td>{{orderDetail.Price}}</td>
                    </tr>
             
            </tbody>
          </table> 
          <label *ngIf="PAYMENTs!=null">
            <b>Total Sales:</b> R{{SUMs}}
          </label>
        
          <div *ngIf="chart" class="reportchart" id="elemetToPrint" style="width: 70%; height: 70%;">
            <canvas id = "canvas">{{chart}}</canvas>
          </div> 
        
          
            </mat-card-content>  
     </mat-card>  
     </mat-sidenav-content>
              </mat-sidenav-container>
          
          
          
  