<div class="wrapper">
  <div class="main-container">
    
      <div class="container">

        <h1> Product Categories</h1><br><br>
        <div>
          <a class="addbutton" routerLink="/createcategory" mat-button color="primary">Add Category</a>
        </div>

         <div fxLayout fxLayoutAlign="center center">
          <mat-form-field fxFlex="40%">
            <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
        </div>

        <table mat-table [dataSource]="dataSource" matSort>
          

          <ng-container matColumnDef="ID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.Product_Category_ID}} </td>
          </ng-container>

          <ng-container matColumnDef="Description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.Description}} </td>
          </ng-container>
         
         
         
          <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef> Details </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="primary" (click)="details(element.id)">
                <i class="fas fa-list"></i>
              </button>
            </td>
          </ng-container>
         
          <ng-container matColumnDef="update">
              <th mat-header-cell *matHeaderCellDef> Update </th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="accent" (click)="update(element.Product_Category_ID)" >
                  <i class="fas fa-pencil-alt"></i>
                </button>
              </td>
            </ng-container>
         
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef> Delete </th>
                <td mat-cell *matCellDef="let element">
                  <button mat-icon-button color="warn" (click)="delete(element.Product_Category_ID)">
                      <i class="fas fa-trash-alt"></i>
                  </button>
                </td>
              </ng-container>
         
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

      </div>
    
    </div>
</div>
          
        
  




